<a href="https://colab.research.google.com/github/syamkumarmuvvala/ML-Assignments/blob/master/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment - 1
## Author : syamkumar846@gmail.com

### Question - 1

In [0]:
s = []
for num in range(2000,3201):
  if (num % 7 == 0) and (num % 5 == 0):
    s.append(num)
print(s)

[2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695, 2730, 2765, 2800, 2835, 2870, 2905, 2940, 2975, 3010, 3045, 3080, 3115, 3150, 3185]

### Question - 2

In [0]:
FirstName = input("Enter the First Name: ")
LastName = input("Enter the Second Name: ")
print(FirstName[::-1],LastName[::-1],sep=" ")

Enter the First Name: syam
Enter the Second Name: kumar
mays ramuk

### Question - 3

In [0]:
import math
Diameter = 12 #cm
Radius = Diameter/2
Volume = (4/3) * math.pi * math.pow(Radius,3)
print("Volume of the sphere: {} cm3".format(Volume))

Volume of the sphere: 904.7786842338603 cm3

### Question - 4

In [0]:
inp_data = input("Enter sequence of comma separated numbers: ")
x = inp_data.split(',')
list_data = []
for i in x:
    list_data.append(int(i))
print(list_data)

Enter sequence of comma separated numbers: 1,2,3,4,5
[1, 2, 3, 4, 5]

### Question - 5

In [0]:
no_of_base_lines = 5
Actual = no_of_base_lines * 2
for i in range(1 , Actual):
    if(i <= Actual/2):
        for j in range(i):
            print('*',end=" ")
        print()
    else:
        for j in range(Actual - i):
            print('*',end=" ")
        print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

### Question - 6

In [0]:
input_word = input("Enter a word: ")
print("Output: ",input_word[::-1])

Enter a word: ineuron
Output:  norueni

### Question - 7

In [0]:
print("WE, THE PEOPLE OF INDIA,\n\t having solemnly resolved to constitute India into a SOVEREIGN,!\n\t\t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC\n\t\t  and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN,!
		 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		  and to secure to all its citizens